* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none;
}

body{


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(black,#256d7b)
    
}

.encabezado{
    display: flex;
    flex-direction: row;
    background: none;
    text-align: center;

    margin-bottom: 20px;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px 40px;
    box-shadow: 0 5px 20px rgba(0, 3, 6, 0.7);
    margin-bottom: 20px;
}

.title {
    color: #9FC131;
    font-size: 35px;
    font-weight: 800;
}   

.sub {
    color: black;
    font-size: 20px;
    font-weight: 80;
}   
div label{
    margin-bottom: 30px;
}
label .fa-solid{
    font-size: 20px;
    color: #008080;
    margin-right: 10px;
    margin-top: 20px;
}

#message{
    position: absolute;
    top:700px;
    right:center;


    display: grid;
    flex-direction: column;
    background: white;
    text-align: center;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 3, 6, 0.7);
    margin-bottom: 20px;

}

.a{
    outline: none;
    border: none;
    background-color: none;
    color: #252525;
    border-bottom: solid 1px #256d7b;
    padding: 0 10px;
    font-size: 17px; 
    
}


.a::placeholder{
    color: rgba(37, 37, 37, 0.5);
    background-color: none;
}
.b{
    outline: none;
    text-align: center;
    border: none;
    color: #252525;
    border-bottom: solid 1px #256d7b;
    padding: 0 10px;
    font-size: 17px; 
    
}
.b::placeholder{
    color: rgba(37, 37, 37, 0.5);
}
.button{
    color: #fff;
    border:none;
    background: #9FC131;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.button:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(0.99, 0.99);
}

/* Fade in the pseudo-element with the bigger shadow */
.button:hover::after {
    opacity: 1;

}
